@mixin alf-animations-style {
  $name: var(--alf-anim-name, none);
  $duration: var(--alf-anim-duration, 1s);
  $delay: var(--alf-anim-delay, 0s);
  $iteration: var(--alf-anim-iteration-count, 1);
  $timing: var(--alf-anim-timing-function, ease);
  $fill: var(--alf-anim-fill-mode, both);
  $direction: var(--alf-anim-direction, normal);

  animation-name: $name;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: $iteration;
  animation-timing-function: $timing;
  animation-fill-mode: $fill;
  animation-direction: $direction;
}

@mixin alf-transition() {
  $duration: var(--alf-transition-duration, 700ms);
  $timing: var(--alf-transition-timing, cubic-bezier(0.4, 0, 0.2, 1));
  
  transition: 
    background-color $duration $timing,
    border-color $duration $timing,
    border-radius $duration $timing,
    box-shadow $duration $timing,
    opacity $duration $timing,
    transform $duration $timing,
    width $duration $timing,
    height $duration $timing;
}
