<!-- @if (linkUrl()) {
  <a #buttonHost
     [href]="linkUrl()"
     [target]="linkTarget()"
     [id]="config().id || ''"
     [attr.aria-label]="ariaLabel()"
     class="alf-btn"
     (click)="handleClick($event)">
    <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
  </a>
} @else {
  <button #buttonHost
          [type]="config().type || 'button'"
          [disabled]="config().disabled || isLoading()"
          [id]="config().id || ''"
          [attr.aria-label]="ariaLabel()"
          class="alf-btn"
          (click)="handleClick($event)">
    <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
  </button>
}

<ng-template #buttonContent>
  @if (isLoading()) {
    <div class="alf-btn-loader">
      <alf-spinner [color]="spinnerColor()" [size]="spinnerSize()"></alf-spinner>
    </div>
  }

  <div class="alf-btn-inner" [style.visibility]="isLoading() ? 'hidden' : 'visible'">
    @if (config().iconLeft) {
      <span class="alf-btn-icon left">{{ config().iconLeft }}</span>
    }
    
    <span class="alf-btn-text">
      @if (config().label) {
        {{ config().label }}
      } @else {
        <ng-content></ng-content>
      }
    </span>

    @if (config().iconRight) {
      <span class="alf-btn-icon right">{{ config().iconRight }}</span>
    }
  </div>
</ng-template> -->
