@let bg = backgroundComputed();
@let bd = borderComputed();
@let ot = outlineComputed();
@let sd = shadowsComputed();
@let an = animations();
@let mg = marginComputed();
@let pd = paddingComputed();
@let ty = typographyComputed();
@let ts = textStyleComputed();
@let tr = transformComputed();
@let dl = displayAndLayoutComputed();
@let cr = cursor();
@let sz = size();
@let ds = isDisabled();
@let tt = tooltip();
@let rp = ripple();
@let ar = aria();
@let cc = customClass();
@let cs = customStyle();

<div
  [alfBackground]="bg ? bg : null"
  [alfBorder]="bd ? bd : null"
  [alfOutline]="ot ? ot : null"
  [alfShadows]="sd ? sd : null"
  [alfAnimations]="an ? an : null"
  [alfMargin]="mg ? mg : null"
  [alfPadding]="pd ? pd : null"
  [alfTypography]="ty ? ty : null"
  [alfTextStyle]="ts ? ts : null"
  [alfTransform]="tr ? tr : null"
  [alfDisplayAndLayout]="dl ? dl : null"
  [alfCursor]="cr ? cr : null"
  [alfSize]="sz ? sz : null"
  [alfDisabled]="ds"
  [alfTooltipText]="tt ? tt : null"
  [alfRipple]="rp !== undefined ? rp : null"
  [alfAria]="ar ? ar : null"
  [class]="'alf-base-container' + (cc ? ' ' + cc : '')"
  [style]="cs ? cs : null"
>
  <ng-content></ng-content>
</div>
