@let customClass = customClassComputed();

<div
  [class]="'alf-tab-content ' + customClass + ' ' + currentAnimationClass()"
  [class.alf-tab-expand]="isActive() && (expandHeight() || inputConfig()?.expandHeight)"
  [class.alf-tab-use-expand]="expandHeight() || inputConfig()?.expandHeight"
  [style.display]="isActive() || isExiting() ? null : 'none'"
  [style.pointer-events]="isActive() ? 'auto' : 'none'"
  [style.width]="'100%'"
  [style]="combinedStyles() + ' ' + animationStyle()"
>
  <div #contentInner class="alf-tab-content-inner">
    <ng-content />
  </div>
</div>
