@use '../../../../../styles/mixins' as *;

.alf-tab-content {
  @include alf-background-css-vars('--alf-tab-content');
  @include alf-padding-css-vars('--alf-tab-content');
  @include alf-text-style-css-vars('--alf-tab-content');
  @include alf-typography-css-vars('--alf-tab-content');

  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr; // Por defecto todo visible

  &.alf-tab-use-expand {
    overflow: hidden;
    // Eliminamos la animación de grid-template-rows interna para no chocar con la del padre
  }

  .alf-tab-content-inner {
    min-height: 0;
  }
}
