@use '../../../../../styles/mixins' as *;

.alf-tab-content {
  @include alf-background-css-vars('--alf-tab-content');
  @include alf-padding-css-vars('--alf-tab-content');
  @include alf-text-style-css-vars('--alf-tab-content');
  @include alf-typography-css-vars('--alf-tab-content');
  @include alf-display-layout-css-vars('--alf-tab-content');
  
  display: grid;
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
}

.alf-tab-content-inner {
  display: grid;
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
}
