@use '../../../../../styles/mixins' as *;

.alf-tab-content {
  @include alf-background-css-vars('--alf-tab-content');
  @include alf-padding-css-vars('--alf-tab-content');
  @include alf-text-style-css-vars('--alf-tab-content');
  @include alf-typography-css-vars('--alf-tab-content');
  
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr; // Por defecto todo visible

  &.alf-tab-use-expand {
    overflow: hidden;

    &.alf-tab-expand {
      animation: alf-tab-expand-anim 500ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }
  }

  .alf-tab-content-inner {
    min-height: 0;
  }
}

@keyframes alf-tab-expand-anim {
  from { grid-template-rows: 0fr; opacity: 0; }
  to { grid-template-rows: 1fr; opacity: 1; }
}
