@mixin alf-size-style {
  &.alf-size-xs {
    transform: scale(0.7);
    transform-origin: center;
  }
  
  &.alf-size-sm {
    transform: scale(0.85);
    transform-origin: center;
  }
  
  &.alf-size-md {
    transform: scale(1);
    transform-origin: center;
  }
  
  &.alf-size-lg {
    transform: scale(1.15);
    transform-origin: center;
  }
  
  &.alf-size-xl {
    transform: scale(1.3);
    transform-origin: center;
  }
  
  &.alf-size-2xl {
    transform: scale(1.5);
    transform-origin: center;
  }
}
