@use '../../../../styles/mixins' as *;

:host {
  display: inline-block;
  position: relative;
  @include alf-transition;
  width: 100%;

  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 2px;
    background: var(--alf-tabs-indicator-color);
    border-radius: 2px 2px 0 0;
    opacity: 0;
    transform: translateY(2px);
    @include alf-transition;
  }

  &.alf-tab--active::after {
    opacity: 1;
    transform: translateY(0);
  }
}

.alf-tab__header {
  all: unset;
  @include alf-backgrounds;
  @include alf-border;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  @include alf-transition;
  font-family: inherit;
  font-weight: var(--alf-tabs-header-weight, 500);
  user-select: none;
  width: 100%;
  box-sizing: border-box;

  // --- Identidad: Master ---
  &--master {
    background-color: transparent;
    border-color: transparent;
    font-weight: 600;
    color: var(--alf-typography-color);

    &.alf-tab__header--active {
      color: var(--alf-tabs-indicator-color);
    }
  }

  // --- Identidad: Solid ---
  &--solid {
    --alf-brd-radius: 0;
    --alf-mar-margin: 0;
    --alf-brd-border-top-width: 0;
    --alf-brd-border-right-width: 0;
    --alf-brd-border-bottom-width: 0;
    --alf-brd-border-left-width: 0;
    transition: all 0.2s ease-in-out;
  }

  &--active {
    font-weight: var(--alf-tabs-header-weight-active, 600);
    --alf-bg-color: var(--alf-bg-color-active, var(--alf-bg-color));
    --alf-txt-color: var(--alf-typography-color-active, inherit);
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .alf-tab__badge {
    background: var(--alf-tabs-indicator-color);
    color: var(--alf-bg-color); 
    font-size: 0.7rem;
    padding: 2px 6px;
    border-radius: 10px;
    min-width: 14px;
    text-align: center;
  }
}

// Estilos específicos cuando estamos en modo Underline
:host-context(.alf-tabs--underline) {
  &.alf-tab--active::after {
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
  }
}

// Desactivamos el subrayado estático heredado para variantes con su propia lógica (Master, Solid)
:host-context(.alf-tabs--master),
:host-context(.alf-tabs--solid) {
  &::after {
    display: none;
  }
}
