/**
 * AlfShadows Mixin
 * Mapeo 1:1 con la interface AlfShadowsInterface.
 */
@mixin alf-shadows {
  // 1. BASE PROPERTIES
  box-shadow: var(--alf-shd-val);
  
  // 2. REACTIVE STATES
  &:focus,
  &:focus-visible {
    box-shadow: var(--alf-shd-val-focus, var(--alf-shd-val));
  }

  &:hover {
    box-shadow: var(--alf-shd-val-hover, var(--alf-shd-val));
  }

  &:active {
    box-shadow: var(--alf-shd-val-active, var(--alf-shd-val-hover, var(--alf-shd-val)));
  }

  &[disabled],
  &:disabled,
  &.disabled {
    box-shadow: var(--alf-shd-val-disabled, var(--alf-shd-val));
  }
}

/**
 * AlfTextShadow Mixin
 */
@mixin alf-text-shadow {
  text-shadow: var(--alf-shd-text);

  &:focus,
  &:focus-visible {
    text-shadow: var(--alf-shd-text-focus, var(--alf-shd-text));
  }

  &:hover {
    text-shadow: var(--alf-shd-text-hover, var(--alf-shd-text));
  }

  &:active {
    text-shadow: var(--alf-shd-text-active, var(--alf-shd-text-hover, var(--alf-shd-text)));
  }

  &[disabled],
  &:disabled,
  &.disabled {
    text-shadow: var(--alf-shd-text-disabled, var(--alf-shd-text));
  }
}

/**
 * Aplica shadows reactivos basados en variables CSS con prefijo.
 * Ejemplo de prefijo: '--alf-btn'
 */
@mixin alf-shadows-css-vars(
  $prefix,
  $disabled-selectors: '&[disabled], &:disabled, &.disabled',
  $focus-selectors: '&:focus, &:focus-visible'
) {
  box-shadow: var(#{$prefix}-shadows-box-shadow, none);
  text-shadow: var(#{$prefix}-shadows-text-shadow, none);

  &:hover {
    box-shadow: var(#{$prefix}-shadows-hover-box-shadow, var(#{$prefix}-shadows-box-shadow, none));
    text-shadow: var(#{$prefix}-shadows-hover-text-shadow, var(#{$prefix}-shadows-text-shadow, none));
  }

  &:active {
    box-shadow: var(#{$prefix}-shadows-active-box-shadow, var(#{$prefix}-shadows-hover-box-shadow, var(#{$prefix}-shadows-box-shadow, none)));
    text-shadow: var(#{$prefix}-shadows-active-text-shadow, var(#{$prefix}-shadows-hover-text-shadow, var(#{$prefix}-shadows-text-shadow, none)));
  }

  #{$focus-selectors} {
    box-shadow: var(#{$prefix}-shadows-focus-box-shadow, var(#{$prefix}-shadows-box-shadow, none));
    text-shadow: var(#{$prefix}-shadows-focus-text-shadow, var(#{$prefix}-shadows-text-shadow, none));
  }


  #{$disabled-selectors} {
    box-shadow: var(#{$prefix}-shadows-disabled-box-shadow, var(#{$prefix}-shadows-box-shadow, none));
    text-shadow: var(#{$prefix}-shadows-disabled-text-shadow, var(#{$prefix}-shadows-text-shadow, none));
  }
}
