h1 {
  font-family: sans-serif;
  color: #1e293b;
  margin-bottom: 1rem;
}

h3 {
  margin: 0;
  font-family: sans-serif;
}

p {
  margin: 0;
  font-family: sans-serif;
  color: #475569;
  line-height: 1.5;
}
