<!-- Esto se hace para generar las variables iniciales del componente. Pero aun no estan definidos los colores y demás. es solo para agregar como se van a llamar las variables. -->
@let bgStyle = createBackgroundsStyle();
@let borderStyle = createBorderStyle();
@let paddingStyle = createPaddingStyle();
@let shadowStyle = createShadowsStyle();
@let typographyStyle = createTypographyStyle();
@let textStyle = createTextStyle();
@let displayStyle = createDisplayAndLayoutStyle();
@let marginStyle = createMarginStyle();
@let outlineStyle = createOutlineStyle();
@let transformStyle = createTransformStyle();
@let animStyle = createAnimationsStyle();
@let customStyle = customStyleComputed();
@let customClass = customClassComputed();
@let animClass = animationsClassComputed();
@let id = containerId();
@let disabled = isDisabled() ?? true;
@let cursor = cursorStyle();
{{bgStyle }}
<!--   [style]="bgStyle + borderStyle + paddingStyle + shadowStyle + typographyStyle + textStyle + displayStyle + marginStyle + outlineStyle + transformStyle + animStyle + customStyle" -->
<div 
  style="min-width: 428px; min-height: 428px;"
  [attr.id]="id"
  [style.cursor]="disabled ? 'not-allowed' : cursor"
  [style]="bgStyle "
  [class]="'alf-tabs-container ' + componentType + ' ' + animClass + ' ' + customClass"
>
  <!-- <div class="alf-tabs-header-wrapper">
    @if (headerMetrics().canLeft) {
      <button class="alf-tabs-arrow alf-tabs-arrow--left" (click)="scrollLeft()">
        ‹
      </button>
    }

    <div 
      #headerScroll 
      class="alf-tabs-header-scroll" 
      (scroll)="onScroll()"
    >
      <div class="alf-tabs-header-nav" role="tablist">
        @for (tab of navigationTabs(); track $index) {
          <button 
            #tabButton
            class="alf-tab-header-button"
            [class.alf-tab-active]="tab.isActive"
            (click)="setActiveTab($index)"
            [attr.aria-selected]="activeIndex() === $index"
            role="tab"
          >
            @if (tab.iconLeft) {
              <span class="alf-tab-icon-left">{{ tab.iconLeft }}</span>
            }
            <span class="alf-tab-label">{{ tab.label }}</span>
            @if (tab.iconRight) {
              <span class="alf-tab-icon-right">{{ tab.iconRight }}</span>
            }
          </button>
        }
        <div #slider class="alf-tabs-slider"></div>
      </div>
    </div>

    @if (headerMetrics().canRight) {
      <button class="alf-tabs-arrow alf-tabs-arrow--right" (click)="scrollRight()">
        ›
      </button>
    }
  </div>

  <div 
    #contentContainer 
    class="alf-tabs-content-container {{ contentAnimationsClass() }}"
    [style]="contentBackgroundsStyle() + contentAnimationsStyle()"
    (touchstart)="onTouchStart($event)"
    (touchend)="onTouchEnd($event)"
  >
    <ng-content></ng-content>
  </div> -->
</div>
