@let styles = combinedStyles();
@let customClass = customClassComputed();
@let animationsClass = animationsClassComputed();
@let isChecked = checked(); 
@let isComponentDisabled = disabledComputed();
@let switchStyle = configComputed()?.switchStyle ?? 'elegant'; 
@let switchSize = size() ?? 'md';
@let labelPos = configComputed()?.labelPosition ?? 'after'; 
@let labelText = configComputed()?.labelText ?? '';
@let helperText = configComputed()?.helperText ?? ''; 
@let errorMsg = configComputed()?.error ?? '';
@let isHollow = isOutline();

<div 
  class="alf-sw" 
  [class]="'alf-sw--' + switchStyle + ' ' + 'alf-sw--' + switchSize + ' ' + (isChecked ? 'alf-sw--checked' : '') + ' ' + (isComponentDisabled ? 'alf-sw--disabled' : '') + ' ' + (isHollow ? 'alf-sw--outline' : '') + ' ' + (isGhost() ? 'alf-sw--ghost' : '') + ' ' + (isCrystal() ? 'alf-sw--crystal' : '') + ' ' + customClass + ' ' + animationsClass" 
  [style]="styles"
>
  <label 
    class="alf-sw-wrapper" 
    [class.alf-sw-wrapper--label-before]="labelPos === 'before'" 
    (click)="$event.preventDefault(); toggle()"
  >
    <input 
      type="checkbox" 
      hidden 
      [id]="internalId" 
      [checked]="isChecked" 
      [disabled]="isComponentDisabled"
      (keydown)="onInputKeydown($event)" 
      [attr.aria-checked]="isChecked"
      [attr.aria-label]="ariaComputed()?.ariaLabel || labelText"
      [attr.aria-labelledby]="ariaComputed()?.ariaLabelledBy"
      [attr.aria-describedby]="ariaComputed()?.ariaDescribedBy || (internalId + '-description')"
    />

    <div class="alf-sw-track">
      <span class="alf-sw-thumb"></span>
    </div>

    @if (labelText) {
      <span class="alf-sw-label-text">{{ labelText }}</span>
    }
  </label>
</div>

@if (helperText || errorMsg) {
<div [id]="internalId + '-description'" class="alf-sw-description">
  @if (errorMsg) {
    <span class="alf-sw-error">{{ errorMsg }}</span>
  } @else {
    <span class="alf-sw-helper">{{ helperText }}</span>
  }
</div>
}
