@let config = configComputed(); 
@let isChecked = checked(); 
@let isComponentDisabled = disabledComputed();
@let switchStyle = config?.switchStyle ?? 'elegant'; 
@let switchSize = size() ?? 'md';
@let labelPos = config?.labelPosition ?? 'after'; 
@let labelText = config?.labelText ?? '';
@let helperText = config?.helperText ?? ''; 
@let errorMsg = config?.error ?? '';

<!-- Estilos del Motor Élite en formato string de CSS inline -->
@let backgroundsStyle = createBackgroundsStyle();
@let borderStyle = createBorderStyle();
@let paddingStyle = createPaddingStyle();
@let shadowsStyle = createShadowsStyle();
@let typographyStyle = createTypographyStyle();
@let textStyle = createTextStyle();
@let transformStyle = createTransformStyle();
@let animationsStyle = createAnimationsStyle();
@let displayAndLayoutStyle = createDisplayAndLayoutStyle();
@let marginStyle = createMarginStyle();
@let outlineStyle = createOutlineStyle();

@let animationsClass = animationsClassComputed();
@let customClass = customClassComputed();
@let customStyle = customStyleComputed();

<div 
  class="alf-sw" 
  [class]="'alf-sw--' + switchStyle + ' ' + 'alf-sw--' + switchSize + ' ' + (isChecked ? 'alf-sw--checked' : '') + ' ' + (isComponentDisabled ? 'alf-sw--disabled' : '') + ' ' + customClass + ' ' + animationsClass" 
  [style]="displayAndLayoutStyle + marginStyle + customStyle"
>
  <label 
    class="alf-sw-wrapper" 
    [class.alf-sw-wrapper--label-before]="labelPos === 'before'" 
    (click)="onLabelClick($event)"
    [style]="paddingStyle"
  >
    <input 
      type="checkbox" 
      hidden 
      [id]="internalId" 
      [checked]="isChecked" 
      [disabled]="isComponentDisabled"
      (keydown)="onInputKeydown($event)" 
      [attr.aria-checked]="isChecked"
      [style]="outlineStyle"
    />

    <div 
      class="alf-sw-track"
      [style]="backgroundsStyle + borderStyle + shadowsStyle + transformStyle + animationsStyle"
    >
      <span class="alf-sw-thumb"></span>
    </div>

    @if (labelText) {
    <span 
      class="alf-sw-label-text"
      [style]="borderStyle"
    >{{ labelText }}</span>
    }
  </label>
</div>

@if (helperText || errorMsg) {
<div class="alf-sw-description">
  @if (errorMsg) {
  <span class="alf-sw-error">{{ errorMsg }}</span>
  } @else {
  <span class="alf-sw-helper">{{ helperText }}</span>
  }
</div>
}
