@let isLink = isLinkComputed();
@let link = linkComputed();
@let isLoading = loadingComputed()?.isLoading;
@let loadingCfg = loadingComputed();

@if (isLink) {
  <a #buttonHost
     class="alf-btn"
     [class]="visualTypeClassesComputed()"
     [href]="link?.url"
     [target]="link?.target || '_self'"
     [id]="idComputed() || ''"
     [attr.aria-label]="ariaLabelComputed()"
     [attr.aria-busy]="isLoading"
     [attr.aria-live]="isLoading ? 'polite' : 'off'"
     [attr.role]="ariaComputed()?.role"
     [attr.aria-selected]="ariaComputed()?.ariaSelected"
     [attr.aria-controls]="ariaComputed()?.ariaControls"
     [attr.aria-expanded]="ariaComputed()?.ariaExpanded"
     [style]="styleVariablesComputed()"
     [alfRipple]="rippleComputed()">
     
     @if (isLoading) {
       <div class="alf-btn__loader">
         <alf-spinner [color]="loadingCfg?.spinnerColor || 'currentColor'" [size]="spinnerSizeComputed()"></alf-spinner>
       </div>
     }

     <div class="alf-btn__content" [style.visibility]="isLoading ? 'hidden' : 'visible'">
       @if (iconLeftComputed()) {
         <span class="alf-btn__icon alf-btn__icon--left">{{ iconLeftComputed() }}</span>
       }
       
       <span class="alf-btn__text">
         @if (finalLabelComputed()) {
           {{ finalLabelComputed() }}
         } @else {
           <ng-content></ng-content>
         }
       </span>

       @if (iconRightComputed()) {
         <span class="alf-btn__icon alf-btn__icon--right">{{ iconRightComputed() }}</span>
       }
     </div>
  </a>
} @else {
  <button #buttonHost
          class="alf-btn"
          [class]="visualTypeClassesComputed()"
          [type]="typeComputed() || 'button'"
          [disabled]="disabledStateComputed()"
          [id]="idComputed() || ''"
          [attr.aria-label]="ariaLabelComputed()"
           [attr.aria-busy]="isLoading"
           [attr.aria-live]="isLoading ? 'polite' : 'off'"
           [attr.role]="ariaComputed()?.role"
           [attr.aria-selected]="ariaComputed()?.ariaSelected"
           [attr.aria-controls]="ariaComputed()?.ariaControls"
           [attr.aria-expanded]="ariaComputed()?.ariaExpanded"
          [style]="styleVariablesComputed()"
          [alfRipple]="rippleComputed()">
          
     @if (isLoading) {
       <div class="alf-btn__loader">
         <alf-spinner [color]="loadingCfg?.spinnerColor || 'currentColor'" [size]="spinnerSizeComputed()"></alf-spinner>
       </div>
     }

     <div class="alf-btn__content" [style.visibility]="isLoading ? 'hidden' : 'visible'">
       @if (iconLeftComputed()) {
         <span class="alf-btn__icon alf-btn__icon--left">{{ iconLeftComputed() }}</span>
       }
       
       <span class="alf-btn__text">
         @if (finalLabelComputed()) {
           {{ finalLabelComputed() }}
         } @else {
           <ng-content></ng-content>
         }
       </span>

       @if (iconRightComputed()) {
         <span class="alf-btn__icon alf-btn__icon--right">{{ iconRightComputed() }}</span>
       }
     </div>
  </button>
}
