@let variantColor = variant();<!--Ignorar para la ia el comentario -->
@let backgroundIn = background();<!--Ignorar para la ia el comentario -->
@let tooltipIn = tooltip();<!--Ignorar para la ia el comentario -->
@let cursorIn = cursor();<!--Ignorar para la ia el comentario -->
@let sizeIn = size();<!--Ignorar para la ia el comentario -->
@let customClassIn = customClass();<!--Ignorar para la ia el comentario -->
@let customStyleIn = customStyle();<!--Ignorar para la ia el comentario -->
@let elevatedIn = elevated();<!--Ignorar para la ia el comentario -->
@let disabledIn = disabled();<!--Ignorar para la ia el comentario -->
@let borderIn = border();
@let rippleIn = ripple(); <!--Ignorar para la ia el comentario -->
@let outlinedIn = outline(); <!--Ignorar para la ia el comentario -->
@let shadowsIn = shadows(); <!--Ignorar para la ia el comentario -->
@let marginIn = margin(); <!--Ignorar para la ia el comentario -->
@let paddingIn = padding();<!--Ignorar para la ia el comentario -->
@let typographyIn = typography();<!--Ignorar para la ia el comentario -->
@let textStyleIn = textStyle();<!--Ignorar para la ia el comentario -->
@let transformIn = transform();<!--Ignorar para la ia el comentario -->
@let transitionIn = transition();<!--Ignorar para la ia el comentario -->
@let displayAndLayoutIn = displayAndLayout();<!--Ignorar para la ia el comentario -->
@let animationsIn = animations();<!--Ignorar para la ia el comentario -->
@let requiredIn = required();<!--Ignorar para la ia el comentario -->
@let maxLengthIn = maxLength();<!--Ignorar para la ia el comentario -->
@let minLengthIn = minLength();<!--Ignorar para la ia el comentario -->
@let minIn = min();<!--Ignorar para la ia el comentario -->
@let maxIn = max();<!--Ignorar para la ia el comentario -->
@let patternIn = pattern();<!--Ignorar para la ia el comentario -->
@let validatorsIn = validators(); <!--Ignorar para la ia el comentario -->
@let errorIn = error(); <!--Ignorar para la ia el comentario -->
@let labelIn = label(); <!--Ignorar para la ia el comentario -->
@let placeholderIn = placeholder(); <!--Ignorar para la ia el comentario -->
@let helperTextIn = helperText(); <!--Ignorar para la ia el comentario -->
@let prefixIn = prefix(); <!--Ignorar para la ia el comentario -->
@let suffixIn = suffix(); <!--Ignorar para la ia el comentario -->
@let autocompleteIn = autocomplete(); <!--Ignorar para la ia el comentario -->
@let clearableIn = clearable(); <!--Ignorar para la ia el comentario -->
@let clearOnClickIn = clearOnClick(); <!--Ignorar para la ia el comentario -->
@let autofocusIn = autofocus(); <!--Ignorar para la ia el comentario -->
@let readonlyIn = readonly(); <!--Ignorar para la ia el comentario -->
@let appearanceIn = appearance(); <!--  -->

<div class="alf-autocomplete-container" style="position: relative; display: inline-block; width: 100%">
  <alf-input
    [appearance]="appearanceIn"
    [label]="labelIn"
    [placeholder]="placeholderIn"
    [helperText]="helperTextIn"
    [prefix]="prefixIn"
    [suffix]="suffixIn"
    [autocomplete]="autocompleteIn"
    [clearable]="clearableIn"
    [clearOnClick]="clearOnClickIn"
    [autofocus]="autofocusIn"
    [readonly]="readonlyIn"
    [cursor]="cursorIn"
    [shadows]="shadowsIn"
    [outline]="outlinedIn"
    [background]="backgroundIn"
    [border]="borderIn"
    [tooltip]="tooltipIn"
    [variant]="variantColor"
    [size]="sizeIn"
    [customClass]="customClassIn"
    [customStyle]="customStyleIn"
    [elevated]="elevatedIn"
    [disabled]="disabledIn || isLoading()"
    [isLoading]="isLoading()"
    [ripple]="rippleIn"
    [value]="filterText()"
    [forceFloat]="isDropdownOpen()"
    [isExiting]="isExiting()"
    (onFocus)="onInputFocus()"
    (onBlur)="onInputBlur()"
    (onInput)="onInputValueChange($event)"
    (onClear)="onInputClear()"
    [margin]="marginIn"
    [padding]="paddingIn"
    [typography]="typographyIn"
    [textStyle]="textStyleIn"
    [transform]="transformIn"
    [transition]="transitionIn"
    [displayAndLayout]="displayAndLayoutIn"
    [animations]="animationsIn"
    [required]="requiredIn"
    [maxLength]="maxLengthIn"
    [minLength]="minLengthIn"
    [min]="minIn"
    [max]="maxIn"
    [pattern]="patternIn"
    [validators]="validatorsIn"
    [error]="errorIn"
  ></alf-input>

  @if (isDropdownOpen()) {
  <alf-auto-complete-panel
    [alfPrefix]="'--alf-ac'"
    [background]="background() || null"
    [alfBorder]="borderIn || null"
    [alfOutline]="outlinedIn || null"
    [alfTypography]="typographyIn || null"
    [alfTextStyle]="textStyleIn || null"
    [alfTransition]="transitionIn || null"
    [variant]="variantColor"
    [alfAnimations]="animationsIn || null"
    [options]="filteredOptionsComputed()"
    [isExiting]="isExitingPanel()"
    (optionSelected)="onOptionSelected($event)"
  >
  </alf-auto-complete-panel>

  }
</div>
